*{
    margin: 0;
}
  
body{
    font-family: 'Manrope', sans-serif;
    background-color: #1F2039;
    font-size: 1em;
}
a {
    color: #242424;
    text-decoration: none;
}
.important{
    color: #A5B4FC;
    font-style: normal;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;
}
p{
    font-family: 'Manrope ExtraLight', sans-serif;
    font-size: 1.1em;
}
/*Applique les propritéS suivantes aux contenus footer et header*/
footer, header{
    background-color: white;
    color: #242424;
    padding: 20px 50px;
}
h2{
    color: #F9F8FF
}
p, li{
    color: #F9F8FF;
    font-size: 1.1em;
}
.cta{
    background: linear-gradient(#8E86B5,#ACAEED);
    border-radius: 50px;
    color: white;
    padding: 20px 30px;
}
/*paragraph_competence= carre-contenu dans le cours opc*/
.paragraph_competence{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}
.paragraph_competence h2{
    margin-top: 30px;
}
.paragraph_competence ul{
    margin-top: 30px;
}
/*Au survole, souligne le texte*/
a:hover{
    text-decoration: underline;
}
/*Au survole, applique un dégradé au btn*/
.cta:hover{
    background: linear-gradient(#696484,#8788BA);
    text-decoration: none;
    
}
.lien_icone:hover{
    opacity: 0.5;
    color: aqua;
}
section{
    padding: 80px;
}
.a-propos-main{
    width: 50%;
    margin: auto;
}
footer, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav a {
    margin-left: 30px;
}
.accueil-photos{
    background-color: white;
    padding: 80px;
}
  /*centre la phrase contenu dans le h2, donne un marge extérieur et une couleur*/
.accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}
.accueil-photos div {
    display: flex;
    flex-direction: row; /*les éléments sont disposés horizontalement de gauche à droite*/
    gap: 15px; /*donne de l'espace entre les images*/
    justify-content: center;
    margin-bottom: 15px;
}
.accueil-introduction {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center; /*Alignement des éléments au centre sur l'axe secondaire*/
    margin: auto;
}