a {
    color: black;
}

.important{
    color: #A5B4FC;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;
}
p{
    font-family: 'Manrope ExtraLight', sans-serif;
    font-size: 1.1em;
}
.footer_header{
    background-color: white;
    color: #242424;
}
body{
    background-color: #1F2039;
}
h2{
    color: #F9F8FF;
}
